/* INITIAL */
.initial Label, Text, JFXTextField, JFXPasswordField, JFXButton, .initial JFXComboBox .list-cell {
    -fx-text-fill: white;
}

#initial-background {
    -fx-background-image: url("../img/initial-background.jpg");
    -fx-background-size: cover;
}

.initial JFXButton, .initial JFXComboBox .list-cell {
    -fx-background-color: #369137;
}

.initial JFXTextField, JFXPasswordField, JFXComboBox:focused {
    -jfx-focus-color: #45de47;
    -fx-text-fill: white;
}