.home Label, Text, Button{
  -fx-text-fill: white;
}

.top_pane {
    -fx-background-color: #5c6bc0;
}

.event {
    -fx-background-color: #717cd2;
}

.main_pane {
    -fx-background: #8e99f3;
    -fx-border-color: #8e99f3;
}

.btnEvent {
    -fx-background-color: #5c6bc0;
}