/* TOP PANE */
.top_pane {
    -fx-background-color: #369137;
}

.top_pane Label, Text, Button{
    -fx-text-fill: white;
}

/* EVENT ITEM */
.event_item {
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
}

/* MAIN PANE */
.main_pane {
    -fx-background: #f5f5f5;
    -fx-border-color: #f5f5f5;
}

.main_pane Label, Text, Button {
    -fx-text-fill: #666;
}

/* INITIAL */
.initial Label, Text, JFXTextField, JFXPasswordField, JFXButton {
    -fx-text-fill: white;
}

#initial-background {
    -fx-background-image: url("../img/initial-background.jpg");
    -fx-background-size: cover;
}

.initial JFXButton {
    -fx-background-color: #369137;
}

.initial JFXTextField, JFXPasswordField, JFXComboBox:focused {
    -jfx-focus-color: #45de47;
    -fx-text-fill: white;
}

/* EVENT CREATE */
.event_create {
    -fx-text-fill: #666;
}

.event_create JFXTextField, JFXComboBox:focused  {
    -jfx-focus-color: #369137;
    -fx-text-fill: #666;
}

.event_create JFXToggleNode:selected {
    -fx-background-color: #45de47;
    -fx-text-fill: white;
}

/* EVENT PAGE */
.event_page JFXTextField, JFXPasswordField, JFXComboBox:focused {
    -jfx-focus-color: #369137;
    -fx-text-fill: white;
}

/* OTHERS */
.btnEvent {
    -fx-background-color: #369137;
    -fx-text-fill: white;
}

.btnNav {
    -fx-background-color: transparent;
}