.jfx-snackbar Label{
    -fx-text-fill: white;
    -fx-font-size: 12;
}

.jfx-snackbar-content {
    -fx-background-color: #323232;
    -fx-min-height: 20;
    -fx-min-width: 100;
}

.jfx-snackbar-action {
    -fx-background-color: transparent;
    -fx-text-fill: #369137;
}