/* EVENT ITEM */
.event_item {
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
}

.trash-icon {
    -fx-image: url("../../../img/trash-icon.png");
}

.trash-icon:hover {
    -fx-image: url("../../../img/trash-open-icon.png");
}

JFXButton {
    -fx-background-color: #369137;
    -fx-text-fill: white;
}