/* EVENT ITEM */
.event_item {
    -fx-background-color: #fff;
    -fx-border-color: #ddd;
}

.trash-icon {
    -fx-image: url("../../../img/trash-icon.png");
    -fx-fit-to-width: 10px;
}

.trash-icon:hover {
    -fx-image: url("../../../img/trash-open-icon.png");
}

JFXButton {
    -fx-background-color: #369137;
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-background-image: url("../../../img/arrow.png");
    -fx-text-fill: white;
}