.jfx-date-picker {
    -jfx-default-color: #369137;
    -fx-text-fill: white;
}

.no-events-message {
    -fx-font-size: 24;
    -fx-text-alignment: center;
}

JFXButton {
    -fx-background-color: #369137;
    -fx-text-fill: white;
}

JFXTextField, JFXComboBox {
    -jfx-focus-color: #369137;
    -fx-text-fill: black;
}

.jfx-combo-box .list-cell:selected, .list-cell:hover {
    -fx-background-color: #369137;
    -fx-text-fill: white;
}

.grid-navigation JFXToggleNode {
    -fx-font-size: 14;
    -fx-text-fill: black;
    -fx-background-color: #ddd;
}

.grid-navigation JFXToggleNode:selected {
    -fx-text-fill: white;
    -fx-background-color: #369137;
}

.btn-arrow-navigation {
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-text-fill: #666;
}